
.env
.env.*
backend/.env

node_modules/
frontend/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-lock.yaml


build/
frontend/build/
dist/


__pycache__/
*.pyc
*.pyo
*.pyd


coverage/


.vscode/

.DS_Store
Thumbs.db


*.log

*.sqlite3